section
{
    width:40%;
    margin-left: 45%;
}

fieldset
{
    width:80%;
    border: 2px solid red;

}

legend
{
    text-align: center;
}

input
{
    width:80%;
    margin-bottom: 2px;
margin-left: 10%;
}

input[type=submit]
{
    width:40%;
    margin-left: 25%;
    background-color: blue;
    color:white;
}