<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:annotation-driven/>
    <mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/styles/" mapping="/styles/**"/>
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.anz"></context:component-scan>
	<!-- Resolve view name into jsp file located on /WEB-INF -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    
    <property name="suffix" value=".jsp" />
  </bean>
   <bean id="dataSource"
       class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/anz_financedb"/>
    <property name="username" value="root"/>
    <property name="password" value="vignesh"/>
</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.anz.models.Customer</value>
				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
			
               <prop key="hibernate.hbm2ddl.auto">update</prop>
			
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>				
			</props>
		</property>
	</bean>
   <tx:annotation-driven/>
	<bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
  
	
	
</beans>